@font-face{
    font-family: medium;
    src: url("fonts/RobotoMono-Light.ttf");
}

@font-face{
    font-family: light;
    src: url("fonts/Roboto-Thin.ttf");
}

@font-face{
    font-family: regular;
    src: url("fonts/Roboto-Light.ttf")
}

html,body{margin:0;overflow: hidden;font-family: regular;font-size:14px;color:#000000;}
*{box-sizing: border-box; transition-duration: 0.3s; outline: none;}

img { 
    filter: invert(0);
}

tabBar,page-tabs,chrome{
    display:block;
    padding:0px;
    background-color:lightgray;
    height: 22px;
    margin: 0;
    -webkit-app-region:drag;
}

page-tabs{
    padding-left:10px;
}

chrome{
    height: 30px;
    padding-right:2px;
}

toolbar{
    display:flex;
    padding-top: 5px;
    border-bottom: 2px black solid;
    height: auto;
    background: #ffffff;
}

pg-nav{
    display:inline-block;
}

tabBar,page-tabs{
    display:inline-block;
    height:40px;
    width:auto;
}

page-tabs{
    position: relative;
    top: -2.5px;
    /* odd flex but okay */
    display:inline-flex;
    align-items: center;
    max-width:85%;

}

pg-tab{
    display:inline-block;
    margin:0;
    padding: 0px 10px 0px 5px;
    height:40px;
    background-color:darkgray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-app-region:no-drag;
    border-style: solid;
    border-color: darkgray;
    border-right-color: rgb(50,50,50);
    border-width: 2px;
    overflow:hidden;
}

tabBar{
    height:45px;
    display:block;
    width:100%;
    overflow: visible;
    padding-top:4px;
}



ch-min,ch-max,ch-exit{
    -webkit-app-region:no-drag;
    display:inline-flex;
    align-items: center;
    position: absolute;
    top:0;
    width: 45px;
    height:30px;
    justify-content: center;
    background-color: inherit;
    padding:2px;
    border-width:0px;
    /* border-radius: 50%; */
    /* zoom: 1.2; */
}

pg-back,pg-forward,pg-refresh{
    height:25px;
    width:25px;
    display:inline-block;
    margin:0px;
    border-radius: 50%;
}

pg-back{
    margin-left:1px;
}

pg-back:hover,pg-forward:hover,pg-refresh:hover{
    background: darkgrey;
}

ch-min:hover,ch-max:hover{
    background-color:darkgray;
}

ch-exit:hover{
    background-color: #f04747;
}

ch-exit{right:0;}
ch-max{right:45px;}
ch-min{right:90px;}

show-ui{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 30px;
    -webkit-app-region:no-drag;
}

show-ui:hover{
    background-color: darkgray;
}

#WINMin > rect {
    fill: hsl(0,0%,0%);
}

#WINX > polygon {
    fill: hsl(0,0%,0%);
}

svg{display:inline-block;margin:0;filter: invert(0); }


#WINMAX *{
    stroke: #000000;
    fill : none;
}

tb-icon{margin-right: 2.5px;height:100%;display: inline-block;position: relative;top: -6.5px;}

search-bar{
    background: hsla(0, 0%, 0%, 0.1);
    height:25px;
    display:inline-block;
    flex-grow:9;
    margin-right:5px;
    margin-left:5px;
     border-radius: 15px;
     padding-top:3px;
     padding-left:15px;
}

other-settings{
    padding:10px;
    position: absolute;
    width: 150px;
    height: auto;
    display: none;
    top: 75px;
    right:0;
    background: white;
    /* border-radius:15px; */
    /* border-top-right-radius: 0px; */
    /* border-bottom-right-radius: 0px; */
    border-style:solid;
    border-width:2px;
    border-color: white ;
    z-index: 99;
}

settings-btn{
    height:25px;
    width:25px;
    display:inline-block;

    /* float:right; */
    display:relative;
    top: -2px;

    /* border-style:solid; */
    /* border-width:2px; */
    /* border-color: white ; */
    border-radius: 50%;
    /* border-bottom:none; */
}

settings-btn:hover{
    /* display:inline-block; */
    background: lightgrey;
    /* border-color:black; */
}

other-settings > *,st-btn,st-win,st-br,st-history,st-bookmarks,page-zoom,adv-settings,dev-tools,/* m-settings, */st-label,st-pkg,st-multi,st-settings,st-find,st-dev,st-zs{
    display:block;
    width:130px;
    font-weight: 500;
    padding:5px;
    border: 1px solid whitesmoke;
    font-size: 13px;
    /* border-radius:5px; */
    -webkit-user-select: none;
    color:#000000;
}

page-zoom{
    display: flex;
    width:130px;
    justify-content: space-evenly;
}

hide-ui:hover, st-btn:hover,st-win:hover,st-history:hover,st-bookmarks:hover,adv-settings:hover,dev-tools:hover,/* m-settings:hover, */page-zoom:hover,st-label:hover,st-pkg:hover,st-multi:hover,st-settings:hover,st-find:hover,st-dev:hover,st-zs:hover{
    border: 1px solid black;
    background: lightgray;
    /* padding: 7.5px; */
}

st-br{
    padding:0px;
    margin-top: 4px;
    margin-bottom: 4px;
    border:none;
    border-top-style: solid;
    border-color: lightgray;
}

other-settings.display, other-settings.display > img{
    display:inline-block;
    border-style: solid;
    border-width:1px;
    border-color:black;
}


webview{
    height: calc(100vh - (100px) + 2px);

}

sch-ipt{
    display:inline-block;
    outline: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
    max-width: 80vw;
}

tb-title{
    cursor: default;
    padding-left:8px;
    padding-top: 10px;
    display: inline-block;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

add-tab{
    -webkit-app-region:no-drag;
    border-width: 2px;
    border-style:solid;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background: darkgray;
    border-color:darkgrey;
    display:inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    height:40px;
    width:40px;
    margin:0px;
    overflow: hidden;
    top:1px;
}

tb-remove{display:inline-block;height:20px;border-radius:20px;}
tb-remove:hover{background-color:darkgrey;}

add-tab:hover,pg-tab:hover{
    background: lightgray;
}

ind{
    display: none;
    position: absolute;
    left:0;
    bottom:0;
    height: 20px;
    border: 0.5px solid black;
    font-size: 12px;
    background: white;
    max-width: 35vw;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 1px;
}


[hint]{
    color:grey;
}

book-marks{
    display:flex;
    background:lightgray;
    height:30px;
    align-items: center;
}


b-mark{
    max-width:20vw;
    height: 102%;
    background: inherit;
    padding:3px;
    margin-left:7px;

    border-style: solid;
    border-color: darkgray;
    border-top-color: white;
    border-bottom-color: #bebebe;
    border-width:2px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    align-content: center;

    position: relative;
    top:-2px;
}

b-mark:hover{
    background:darkgray;
    border-color:lightgray;
}

b-title{
    vertical-align: middle;
    margin-left: 5px;
    display:inline-block;
    cursor: default;
}

b-ico{
    vertical-align:middle;
    display:inline-block;
}

b-ico img{
    top:1px;
    display:inline-block;
}

full-query{
    min-height: 100px;
    width: 40vw;
    display:block;
    position: fixed;
    top: calc(50vh - 100px);
    left: calc(50vw - 20vw);
    z-index:99;
    border-width:3px;
    border-style: solid;
    border-color:black;
    padding:10px;
    box-shadow: 0 0 50px 700px #00000070;
    background: white smoke;
}

full-query h2{
    border-bottom: black dotted 1px;
}

full-query input[type='text']{
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    padding:5px;
    font-size: 15px;
}

full-query button{
    border-style:solid;
    border-width:3px;
    border-color:black;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    border-left-style: none;
    padding:6px;
    font-size:15px;
}

full-query div{
    margin-bottom: 5px;
}

add-mark{
    display:block;
    float:right;
    width: 25px;
    height:25px;
    background: transparent;
    border-radius: 50%;
    position: relative;
    top: -3px;
}

add-mark:hover{
    background:darkgrey;
}

add-mark:hover img, z-in:hover img, z-out:hover img{
    filter: invert(100);
}

z-in,z-out,z-in > img, z-out > img{
    width:25px;
    height:25px;
    border-radius:0px;
}

z-in:hover,z-out:hover{
    background:darkgray;
}

st-zs{
    display:inline-grid;
    grid-template-columns: auto auto auto;
}

multi-view{
    display:grid;
    grid-gap: 50px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    overflow-y: auto;
    border-top-style:solid;
    border-top-width:0px;
    border-top-color:darkgrey;
}

m-settings input{
    border-radius: 15px;
    border-width:2px;
    border-color: black;
    padding: 3px 6px;
    width: 98%;
}

m-settings {
    position: absolute;
    top: 80px;
    right: 30px;
    width: 100px;
    height: 0px;
    background: white;
    padding: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display:none;
    border: 2px solid lightgrey;
}

m-settings > button {
    width: 25px;
    height: 25px;
    background: transparent;
    border: none;
    padding: 1px;
    zoom: 0.85;
    position: absolute;
    top: -1px;
    right: -1px;
    border-radius: 50%;
}

m-settings > button:hover {
    background: lightgrey;
}

m-settings.display {
    display:inline-block;
    overflow: hidden;
    animation-name: mset;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes mset{
    from{ height: 0px;}
    to{ height: 56px; }
}

.tabSelect{
    border-color:#ffffff;
    background:#ffffff;
}

multi-view.enabled{
    padding: 10px;
    border-top-width:2px;
    border-top-color:darkgrey;
    background:lightgrey;
}

web--view,webview{
    height:100%;
}

multi-view.enabled{
    display:grid;
    overflow: none;
    height:calc(100vh - 110px);
}

multi-view{
    display:block;
    overflow:none;
    height:calc(100vh - 110px);
}

text-finder{
    background:darkgrey;
    display:none;
    position: absolute;
    top: 80px;
    right:15px;
    width:300px;
    height: 35px;
    z-index: 1;
}

text-finder > input{
    /* border-width: 2px; */
    width: 270px;
    height:100%;
    top: 0px;
    position: absolute;
}

text-finder > button{
    width:29px;
    height:100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background:darkgray;
    border:none;
}

text-finder > button > svg{
    zoom: 0.75;
}

omni-box{
    position: absolute;
    display: none;
    top: 75px;
    left: 90px;
    background: white;
    z-index: 99;
    width: 93%;
    border: lightgray solid;
    padding: 5px;
}

omni-box > current-page > button{
    background:lightgray;
    padding:3px 7px 3px 7px;
    border:none;
    border-radius:10px;
}

page-suggestion{
    display:block;
    padding: 5px;
}

page-suggestion, current-page span {
    max-width: 50vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: none;
}

page-suggestion{
    max-width:100%;
}

page-suggestion:hover{
    background: lightgray;
}

all-escape{
    top: 100px;
    height: 90vh;
    width:100vw;
    background:transparent;
    position: absolute;
    z-index: 98;
}

grid-view{
    display:grid;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

tab-info{
    position: absolute;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 35px;
    /* padding:5px; */
    width:200px;
    background: white;
    border-radius: 10px;
    z-index: 4;
}

pg-tab:hover > tab-info{
    height: 45px;
    padding:5px;
}

z-full{
    text-align: center;
    align-self: center;
}